.topbar {
  position: relative;
  overflow: hidden;
  background-color: #0A0000;
}

.topbar a {
  display:block;
  float: left;
  color: #2A0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topbar-right {
  float: right;
}
